# SPDX-License-Identifier: GPL-2.0-only
# Helper to resolve issues with configs that have SPI enabled but I2C
# modular, meaning we can't build the codec driver in with I2C support.
# We use an ordered list of conditional defaults to pick the appropriate
# setting - SPI can't be modular so that case doesn't need to be covered.

menu "CODEC drivers"

config SND_SOC_ALL_CODECS
	tristate "Build all ASoC CODEC drivers"
	depends on COMPILE_TEST
	imply SND_SOC_SMA1305

config SND_SOC_SMA1305
	tristate "Iron Device SMA1305 Audio Amplifier"
	depends on I2C
	help
	  Enable support for Iron Device SMA1305 boosted digital speaker
	  amplifier with feedback-loop.
	  If you are using a system with an SMA1305 amplifier connected
	  via I2C, enable this option.

config SMA1305_FACTORY_RECOVERY_SYSFS
	bool "Factory recovery sysfs"

config SND_SOC_APS_ALGO
	bool "Iron Device Advanced Protection Algorithm"
	depends on SND_SOC_SMA1305

endmenu
